<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Spring Demo</title>
</head>
<body>
<form action="loginCheck" method="post">
    <table>
        <tr><td>用户名</td><td><input type="text" name="userName" /></td></tr>
        <tr><td>密码</td><td><input type="password" name="password" /></td></tr>
        <tr><td><input type="submit" value="登录" /></td><td><input type="reset" value="重置" /></td></tr>
        <tr th:text="${error}" style="color: crimson"></tr>
    </table>
</form>
</body>
</html>